[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
ipython = "*"
web3 = {extras = ["tester"], version = "*"}
unknown = {editable = true, path = "."}
python-dotenv = "*"

[requires]
python_version = "3.8"
